* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/*The page you land in before scrolling*/
.nav-bar{
    height: 100%;
    width:100%;
    background-image:repeating-linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/Jewellery.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

}
.myLogo{
    height: 150px;
    width: 160px;
    margin: 5px 10px;
}
.form-control
{
    margin-top: 19px;
    margin-left: 30px;
    border:1px solid yellow !important;
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    box-shadow: none !important;
    height:40px;
}
.text-box{
    color:White;
    position:relative;
    top: 20%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-top: 50px;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    color: antiquewhite;
}
.visit-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding:12px 34px;
    font-size: 13px;
    background:transparent;
    position: relative;
    cursor:pointer;
    
}
.visit-btn:hover{
    transition: 1s;
}
.input-group-text{
    background: yellow !important;
    border: 1px solid grey !important;
    margin:6px 10px 3px 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    cursor:pointer;
    height:40px;
}
.search{
    display: inline-flex;
    width: 60%;
}
.fa-search{
    color: grey;
}

/*Menu bar on the top right*/
.menu{
    width: 40%;
    height: 57px;
    float: right;   
}
.menu ul{
    display: inline-flex;
    float: right;
}
.menu ul li{
   border-left: 1px solid white;
   list-style-type: none;
    padding: 15px 35px;
    margin-top: 10px;
    margin-right: 1.5px;
    text-align:center;
    background-color: yellow;
    cursor: pointer;
    border-radius: 10px;
}
.menu ul li a{
    font-size: 14px;
    font-weight:bold;
    color: grey;
    text-decoration: none
}
.menu ul li::after{
    content:'';
    width:0%;
    height:2px;
    background:white;
    display: block;
    margin: auto;
    transition: 1s;
}
.menu ul li:hover::after{
    width:100%;
    
}

.fa-shopping-basket{
   margin-right: 5px; 
}


p {
  color: #555;
}

/*mid-page*/
.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 15px;
}

.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}

.col-4 img {
  width: 50%;
}

h4 {
  color: #555;
  font-weight: normal;
}

.col-4 p {
  font-size: 14px;
}
/*stars*/
.rating .fas {
  color: #ff523b;
}

.rating .far {
  color: #ff523b;
}

.col-4:hover {
  transform: translateY(-15px);
  transform: scale(1.5);
  
}
iframe {
  display: block;
  width: 90%;
  max-width: 60rem;
  height: 35em;
  margin: 2rem auto;
  border: 1px solid black;
}
/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
    transform: scale(1.02);
}



/* Style the container/contact section */
.container5 {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  width: 80%;
 margin-left: 10%;
    margin-bottom: 50px;
}

/* Create two columns that float next to eachother */
.column5 {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row5:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column5, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}





/* footer */

.footer {
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
}

.footer p {
  color: #8a8a8a;
}

.footer h3 {
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-col-1 {
  flex-basis: 30%;
}

.footer-col-2 {
  flex: 1;
  text-align: center;
}

.footer-col-2 img {
  width: 180px;
  margin-bottom: 20px;
}

.footer-col-3,
.footer-col-4 {
  flex-basis: 12%;
  text-align: center;
}
.footer-col-4 ul li a{
    text-decoration: none;
    color: grey;
}

ul {
  list-style-type: none;
}

.app-logo {
  margin-top: 20px;
}
.app-logo img {
  width: 140px;
}

.footer hr {
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}


.menu-icon {
  width: 28px;
  margin-left: 20px;
  display: none;
}

/* media query for menu */

@media only screen and (max-width: 800px) {
  nav-bar ul {
    position: absolute;
    top: 70px;
    left: 0;
    background: #333;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  nav-bar ul li {
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  nav-bar ul li a {
    color: grey;
  }
  .menu-icon {
    display: block;
    cursor: pointer;
  }
}




/* media query for less than 600 screen size */

@media only screen and (max-width: 600px) {
  .row {
    text-align: center;
  }
  .col-2,
  .col-3,
  .col-4 {
    flex-basis: 100%;
  }
}



/*The Team*/
/* Three columns side by side */
.column2 {
  display: inline-block;
  width: 150px;
  margin-bottom: 16px;
  padding: 0 8px;
  float: inherit;

}


/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column2 {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect 
.card2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}*/

/* Some left and right padding inside the container */
.container2 {
  padding: 0 16px;
}

/* Clear floats */
.container2::after, .row2::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}
.discription{
    padding: 8px;
    text-align: center
}
.carousel-inner{
    width: 15%;
    
}
#About Us{
    padding: 15px;
}
/* Position the image container (needed to position the left and right arrows) */
.container8 {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container8 {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column8 {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}



